<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guía de Nexon App</title>
  <link rel="stylesheet" href="../css/estilos.css">
</head>
<body class="guia">
    <header>
        <div class="header-container">
          <a class="logo" href="/dashboard"><img src="../css/logo.png" alt=""></a>
          
          <form action="/users/buscar" id="searchForm" class="search-bar" method="get ">
            <i class="icono-lupa fas fa-search"></i>
            <input id="searchUsername" name="searchUsername" placeholder="Buscar Usuario..." required />
            <input type="submit" value="Buscar" />
          </form>
        </div>
      </header>


  <h1 class="titulo-guia">Bienvenido a la Guía de Nexon App</h1>

  <div class="contenedor-videos">
    <div class="video-recuadro">
      <h3 class="titulo-video">Como ver los detalles del Post</h3>
      <iframe class="video" src="../videos/post.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video-recuadro">
      <h3 class="titulo-video">Cómo cambiar tus datos Personales</h3>
      <iframe class="video" src="../videos/video2.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video-recuadro">
      <h3 class="titulo-video">Cómo aprovechar al máximo Nexon App</h3>
      <iframe class="video" src="../videos/tres.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</body>
</html>
